@model FirstApplication.ViewModels.RandomMovieViewModel

@{
  ViewData["Title"] = "Random Movie";
  var noCustomersClass = Model.Customers?.Count == 0 ? "red-text" : null;
}

<h1>@Model.Movie?.Name</h1>

@if (Model.Customers?.Count == 0)
{
  <p class="@noCustomersClass">No customers yet</p>
}
else
{
  <ul>
    @foreach (var customer in Model.Customers)
    {
      <li>
        @customer.Name
      </li>   
    }
  </ul>
}